{% extends 'project1/base.html' %}
{% block title %}Medewerkers/datails{% endblock %}




{% block body %}
<html lang="">
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>
</head>

<h3>{{ medewerkers }}<a> - </a>{{ medewerkers.pk}}</h3>
<br>

<table>
    <tr>
        <th>Naam</th>
        <th>Woonplaats</th>
        <th>Straat en Huisnummer</th>
        <th>Postcode</th>
        <th>Mobiel nummer</th>
        <th>ICE nummer</th>
        <th>Email</th>
    </tr>
    <tr>
        <td>{{ medewerkers }}</td>
        <td>{{ medewerkers.woonplaats }}</td>
        <td>{{ medewerkers.straat }} {{ medewerkers.huisnummer }}</td>
        <td>{{ medewerkers.postcode }}</td>
        <td>{{ medewerkers.mobielnummer }}</td>
        <td>{{ medewerkers.icenummer }}</td>
        <td>{{ medewerkers.email }}</td>
    </tr>
</table>
<br><br><br>
<table>
    <tr>
        <th>Bsn nummer</th>
        <th>Terief indicatie</th>
        <th>Opleiding niveau</th>
        <th>Godsdienst</th>
        <th>Burgerlijke staat</th>
        <th>Geboortedatum</th>
    </tr>
    <tr>
        <td>{{ medewerkers.bnsnummer }}</td>
        <td>{{ medewerkers.teriefindicatie }}</td>
        <td>{{ medewerkers.opleidings_niveau }}</td>
        <td>{{ medewerkers.godsdienst }}</td>
        <td>{{ medewerkers.burgerlijkse_staat }}</td>
        <td>{{ medewerkers.geboorte_datum }}</td>
    </tr>
</table>
<br>

<body>

<h3>Opmerkingveld</h3>
<br>

<form action="/action_page" id="usrform">
   <label for="Datum opmerking">{{ opmerkingen.datum_opmerkingen }}Datum opmerking:</label>
  <input type="date" id="id_username" name="Medewerkers">
<!-- de variable datum opmerking en opmerking veld doet op het moment nog niks -->
</form>
<br>
<textarea rows="4" cols="50" name="comment" form="usrform"  {{ opmerkingen.opmerkingveld }} >
Enter text here...</textarea>


</body>

</html>

{% endblock %}
