<!-- laad het pad naar de static file -->
{% extends 'project1/base.html' %}
{% block title %}4-Rest/Medewerkers{% endblock %}

{% block body %}
{% if medewerkers %}

<h1><center>Medewerkers 4-Rest</center></h1><br><br>

    <ul>
        {% for medewerkers in medewerkers %}
            <li><a href="{% url 'details' medewerkers.id %}"><strong><h4>{{ medewerkers.voornaam }} {{ medewerkers.tussenvoegsel }} {{ medewerkers.achternaam }}</h4></strong></a></li>
        {% endfor %}
    </ul>
{% else %}
    <h3>je hebt geen medewerkers</h3>
{% endif %}
{% endblock %}


