{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#<form action="/action_page" id="usrform">#}
{#   <label for="Datum opmerking">{{ opmerkingen.datum_opmerkingen }}Datum opmerking:</label>#}
{#    <label for="medewerkers.id"></label><input type="date" id="medewerkers.id" name="Medewerkers">#}
{#<!-- de variable datum opmerking en opmerking veld doet op het moment nog niks -->#}
{#</form>#}
{#<br>#}
{#<label>#}
{#<textarea rows="4" cols="50" name="comment" form="usrform"  {{ opmerkingen.opmerkingveld }} >#}
{#Enter text here...</textarea>#}
{#</label>#}
{#<br>#}
{#</body>#}
{#</html>#}