{% extends 'base.html' %}
{% block title %}Archief Aanbiedingen{% endblock %}
{% block body %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
<style>

#test{
    text-align: center;
}

    body{
        background-color:#CBCBCB;
    }

    #box {
        border-radius: 19px;
        background-color: #f2f2f2;
        margin: auto;
        position: relative;
        padding: 20px;
    }

    #box #container {
        display: grid;
        row-gap: 0px;
        column-gap: 15px;
        text-align: left;
        overflow: auto;
    }


    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    td{
        white-space: nowrap;
        overflow: auto;
    }

#updateDatum {
    max-width: 80px;
}

#status {
    max-width: 50px;
}

#deleteUpdate {
    max-width: 105px;
}

#detail {
    max-width: 60px;
}

#tarief {
    max-width: 30px;
}

#updateKnop {
    background-color: #32933d;
    color: white;
}

#detailKnop {
    background-color: #32933d;
    color: white;
}

#deleteKnop{
    background-color: #ff0000;
    color: white;
}

 div.dataTables_wrapper div.dataTables_filter, div.dt-buttons, div.dataTables_wrapper div.dataTables_paginate, div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_info {
     margin-right: 10px;
 }


  @media(min-width: 1950px){
        #box {
            -webkit-transition: width 2s ease-in-out;
            -moz-transition: width 2s ease-in-out;
            -o-transition: width 2s ease-in-out;
            transition: width 2s ease-in-out;
            width: 70%;
        }
    }


    @media(min-width: 1600px) and (max-width: 1950px) {
        #box {
            -webkit-transition: width 2s ease-in-out;
            -moz-transition: width 2s ease-in-out;
            -o-transition: width 2s ease-in-out;
            transition: width 2s ease-in-out;
            width: 80%;
        }
    }

    @media(min-width: 1100px) and (max-width:1600px) {
        #box {
            -webkit-transition: width 2s ease-in-out;
            -moz-transition: width 2s ease-in-out;
            -o-transition: width 2s ease-in-out;
            transition: width 2s ease-in-out;
            width: 95%;
        }
    }

    @media(max-width: 1100px){
        #box {
            -webkit-transition: width 2s ease-in-out;
            -moz-transition: width 2s ease-in-out;
            -o-transition: width 2s ease-in-out;
            transition: width 2s ease-in-out;
            width: 95%;
        }
        div.dataTables_wrapper div.dataTables_filter,div.dataTables_wrapper div.dt-buttons, div.dataTables_wrapper div.dataTables_paginate, div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_info {
            float: left;
            text-align: left;
            margin-top: 15px;
            margin-right: 10px;
            overflow: auto;
        }
        #deleteUpdate{
            max-width: 140px;
        }
        #detail{
            max-width: 100px;
        }
    }

</style>
{% endblock %}
{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://drvic10k.github.io/bootstrap-sortable/Contents/bootstrap-sortable.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- scripts voor sortable table -->

    <!-- scripts voor pagination -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>

     <!-- scripts voor export -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.22/b-1.6.5/b-html5-1.6.5/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.22/b-1.6.5/b-html5-1.6.5/datatables.min.js"></script>


<script>
$(document).ready(function() {
    $("#basic-datatable").DataTable({
      pageLength: 10,
      order: [[ 0, "asc" ]],
      dom: 'lBfrtip',
        buttons: [ {
            extend: 'excelHtml5',
            exportOptions: {
                    columns: [ 0, 1, 2, 3, 4, 5, 6, 7 ]
                },
            title: 'Archief aanbiedingen' +
                '' +
                ' Export',
            customize: function( xlsx ) {
                var sheet = xlsx.xl.worksheets['sheet1.xml'];

                $('row c[r^="C"]', sheet).attr( 'c', '2' );
            }
        } ]
    });
  });
</script>

    <div id="test">
        <div id="box">
            <h3>Archief Aanbiedingen 4-Rest</h3>
            <div id="container">
                <table id="basic-datatable" class="table" style="width:100%">
                    <thead>
                    <tr>
                        <th>Klantnaam</th>
                        <th>Medewerker</th>
                        <th id="tarief">Tarief</th>
                        <th id="updateDatum">Laatste Update</th>
                        <th>Tussenpartij</th>
                        <th>Fuctie aanbieding</th>
                        <th id="status">Status</th>
                        <th id="deleteUpdate">Update / Delete</th>
                        <th id="detail">Details</th>
                    </tr>

                    <tbody id="myTable">
                        {% for aanbiedingen in aanbieding_list %}
                        <tr>
                            <td>{{ aanbiedingen.klant.naam }}</td>
                            <td>{{ aanbiedingen.medewerker }}</td>
                            <td id="tarief">{{ aanbiedingen.tarief }}</td>
                            <td id="updateDatum">{{ aanbiedingen.laatste_update }}</td>
                            <td>{{ aanbiedingen.broker.naam }}</td>
                            <td>{{ aanbiedingen.functie_aanbieding }}</td>
                            <td id="status">{{ aanbiedingen.get_status_display }}</td>


                            {% csrf_token %}
                            <form action="{% url 'aanbieding_delete' aanbiedingen.pk %}" style="display: inline;">
                                <td id="deleteUpdate">
                                    <a href="{% url 'aanbieding_update' aanbiedingen.id %}" class="btn btn-sm" id="updateKnop" role="button">Update</a>
                                    <input type="hidden" name="medewerker_id" value="{{ Eindklanten.id }}"/>
                                     <button type="submit" class="no-export btn btn-sm" id="deleteKnop" onclick="return confirm('Weet je zeker dat je deze aanbieding wilt verijderen?')">
                                     <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete</button>
                                </td>
                                <td id="detail">
                                    <a href="{% url 'aanbieding_detail' aanbiedingen.id %}"  class="btn btn-sm" id="detailKnop" role="button">View Details</a>
                                    <input type="hidden" name="medewerker_id" value="{{ aanbiedingen.id }}" />
                                </td>
                            </form>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


<br><br><br>
{% endblock %}
<input class="btn btn-primary" type=button value="Terug" onClick="javascript:history.go(-1);">