{% extends 'base.html' %}
{% block title %}Aanbiedingen/datails{% endblock %}
{% block body %}
<div style="text-align: center;" xmlns="http://www.w3.org/1999/html"><h3>Details aanbiedingen 4-Rest</h3></div><br>
<html lang="">
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>
</head>

<table>
    <tr>
        <th>Klantnaam</th><td>{{ aanbieding.klant.klantnaam }}</td>
        <th>Medewerker</th><td>{{ aanbieding.medewerker}}</td><tr></tr>
        <th>Tarief</th><td>{{ aanbieding.tarief }}</td>
        <th>Registratiedatum</th><td>{{ aanbieding.registratie }}</td><tr></tr>
        <th>Functie</th> <td>{{ aanbieding.functie }}</td>
        <th>Fuctie aanbieding</th><td>{{ aanbieding.functie_aanbieding }}</td><tr></tr>
        <th>4-Rest contactpersoon</th><td>{{ aanbieding.get_accountmanager_display }}</td>
        <th>Laatste Update</th><td>{{ aanbieding.laatste_update }}</td><tr></tr>
        <th>Betaalkorting</th><td>{{ aanbieding.betaalkorting }}</td>
        <th>Status</th><td>{{ aanbieding.get_status_display }}</td><tr></tr>
        <th>Broker</th><td>{{ aanbieding.broker.broker_naam }}</td>
        <tr>
            <td>
                <a href="{% url 'aanbieding_update' aanbieding.id %}" class="btn btn-primary" role="button">Update</a>

                <input class="btn btn-primary" type=button value="Terug" onClick="javascript:history.go(-1);">
            </td>
        </tr>

</table>

</html>

{% endblock %}