{% extends 'base.html' %}
{% block title %}Broker/datails{% endblock %}

{% block body %}
<html lang="">
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>
</head>

<table>
    <tr>
        <th>Broker naam:</th><td>{{ broker.broker_naam }}</td>
        <th>Accountmanager:</th><td>{{ broker.get_accountmanager_display }}</td></tr>
        <th>Vestiging soort</th><td>{{ vestiging.soort_vestiging }}</td>
        <th>Postcode broker:</th><td>{{ vestiging.postcode }}</td><tr></tr>
        <th>Vestigingplaats broker:</th> <td>{{ vestiging.plaats }}</td>
        <th>Telefoonnummer broker:</th><td>{{ broker.telefoonnummer_broker }}</td><tr></tr>
        <th>Portaal broker:</th><td><a href="{{ broker.portaal_broker }}" target="_blank">{{broker.portaal_broker}}</a></td>
         </tr>
            <td>
                <a href="{% url 'broker_update' broker.id %}" class="btn btn-primary btn-sm" role="button">Update</a>
                <input class="btn btn-primary" type=button value="Terug" onClick="javascript:history.go(-1);">
            </td>
        <tr>
</table>
<br>
<br>


{% for posts in posts %}
	<h1 class="title">{{ posts.title }}</h1>

	<small>Posted at {{ posts.date_added }}</small>

	<p><strong>{{ posts.intro }}</strong></p>

	<p>{{ posts.body }}</p>

	<hr>
{% endfor %}

</html>

{% endblock %}