{% extends 'base.html' %}

{% block title %}Tussenpartijen {% endblock %}
{% block body %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
    <style>
    body{
        background-color:#CBCBCB;
    }

    #box {
        border-radius: 19px;
        background-color: #f2f2f2;
        margin: auto;
        position: relative;
        padding: 20px;
    }

    #box #container {
        display: grid;
        row-gap: 0px;
        column-gap: 15px;
        text-align: left;
        overflow: auto;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    td{
        white-space: nowrap;
        overflow: auto;
    }

    #telNummer {
        max-width: 100px;
    }

    #portaal {
        max-width: 300px;
    }

    #deleteUpdate {
        max-width: 105px;
    }

    #detail {
        max-width: 60px;
    }

    #updateKnop {
        background-color: #32933d;
        color: white;
    }

    #detailKnop {
        background-color: #32933d;
        color: white;
    }

    #tussenpartijToevoegenKnop{
        background-color: #32933d;
        color: white;
    }

    #deleteKnop{
        background-color: #ff0000;
        color: white;
    }

    div.dataTables_wrapper div.dataTables_filter, div.dt-buttons, div.dataTables_wrapper div.dataTables_paginate, div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_info {
        margin-right: 10px;
    }

    @media(min-width: 1950px){
        #box {
            -webkit-transition: width 2s ease-in-out;
            -moz-transition: width 2s ease-in-out;
            -o-transition: width 2s ease-in-out;
            transition: width 2s ease-in-out;
            width: 70%;
        }
    }


    @media(min-width: 1600px) and (max-width: 1950px) {
        #box {
            -webkit-transition: width 2s ease-in-out;
            -moz-transition: width 2s ease-in-out;
            -o-transition: width 2s ease-in-out;
            transition: width 2s ease-in-out;
            width: 80%;
        }
    }

    @media(min-width: 1100px) and (max-width:1600px) {
        #box {
            -webkit-transition: width 2s ease-in-out;
            -moz-transition: width 2s ease-in-out;
            -o-transition: width 2s ease-in-out;
            transition: width 2s ease-in-out;
            width: 95%;
        }
    }

    @media(max-width: 1100px){
        #box {
            -webkit-transition: width 2s ease-in-out;
            -moz-transition: width 2s ease-in-out;
            -o-transition: width 2s ease-in-out;
            transition: width 2s ease-in-out;
            width: 95%;
        }
        div.dataTables_wrapper div.dataTables_filter, div.dt-buttons, div.dataTables_wrapper div.dataTables_paginate, div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_info {
            float: left;
            text-align: left;
            margin-top: 15px;
            margin-right: 10px;
            overflow: auto;
        }
        #deleteUpdate{
            max-width: 140px;
        }
        #detail{
            max-width: 100px;
        }
    }
</style>
{% endblock %}
{% block content %}


<script>
$(document).ready(function() {
    $("#basic-datatable").DataTable({
      pageLength: 10,
      order: [[ 0, "asc" ]],
      dom: 'lBfrtip',
        buttons: [ {
            extend: 'excelHtml5',
            exportOptions: {
                    columns: [ 0, 1, 2, 3, 4 ]
                },
            title: 'Brokers' +
                '' +
                ' Export',
            customize: function( xlsx ) {
                var sheet = xlsx.xl.worksheets['sheet1.xml'];

                $('row c[r^="C"]', sheet).attr( 'c', '2' );
            }
        } ]
    });
  });
</script>
<div id="area">
    <div id="box" ALIGN="center">
        <h3>Tussenpartijen 4-Rest</h3><a href="{% url 'brokers_toevoegen' %}" class="btn" id="tussenpartijToevoegenKnop"  role="button"><h5>Tussenpartijen Toevoegen</h5></a>
        <div id="container">
            <table id="basic-datatable" class="table" style="width:100%">

                <thead>
                <tr>
                    <th>Tussenpartij naam:</th>
                    <th>4-Rest contactpersoon:</th>
                    <th>Email adres factuur:</th>
                    <th id="telNummer">Telefoonnummer tussenpartij:</th>
                    <th id="portaal">Portaal tussenpartij:</th>
                    <th id="deleteUpdate" class="no-export">Update / Delete</th>
                    <th id="detail" class="no-export">Detail</th>
                </tr>

                <tbody id="myTable">
                    {% for broker in brokers_list %}
                        <tr>
                            <td>{{ broker.naam }}</td>
                            <td>{{ broker.get_accountmanager_display }}</td>
                            <td>{{ broker.factuuremail }}</td>

                            <td id="telNummer">{{ broker.telefoonnummer }}</td>
                            <td id="portaal"><a href="{{ broker.portaal }}" target="_blank">{{broker.portaal}}</a></td>

                            <form action="{% url 'broker_delete' broker.id %}" method="post" class="no-export" style="display: inline;">
                                {% csrf_token %}
                                <td id="deleteUpdate">
                                    <a href="{% url 'broker_update' broker.id %}" class="no-export btn btn-sm" id="updateKnop" role="button">Update</a>
                                    <input type="hidden" name="medewerker_id" value="{{ Brokers.id }}" />
                                    <button type="submit" class="no-export btn btn-sm" id="deleteKnop" onclick="return confirm('Weet je zeker dat je de broker wilt verijderen?')">
                                    <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete </button>
                                </td>
                                <td id="detail">
                                    <a href="{% url 'broker_detail' broker.id %}"  class="no-export btn btn-sm" id="detailKnop" role="button">View Details</a>
                                    <input type="hidden" name="medewerker_id" value="{{ brokers_list.id }}" />
                                </td>
                            </form>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>


<script>


</script>


</table>
<br><br><br>
{% endblock %}

