{% extends 'base.html' %}
{% block title %}Brokers {% endblock %}
{% block body %}
<div style="text-align: center;"><h3>Brokers 4-Rest</h3><a href="{% url 'brokers_toevoegen' %}" class="btn btn-success"  role="button"><h5>Broker Toevoegen</h5></a></div>
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>
{% endblock %}
{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://drvic10k.github.io/bootstrap-sortable/Contents/bootstrap-sortable.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- scripts voor sortable table -->

    <!-- scripts voor pagination -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>

     <!-- scripts voor export -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.22/b-1.6.5/b-html5-1.6.5/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.22/b-1.6.5/b-html5-1.6.5/datatables.min.js"></script>



<script>
$(document).ready(function() {
    $('#editableTable').DataTable({
      pageLength: 10,
      lengthChange: false,
      bInfo : false,
      order: [[ 4, "asc" ]],
      dom: 'Bfrtip',
        buttons: [ {
            extend: 'excelHtml5',
            title: 'Brokers' +
                '' +
                ' Export',
            customize: function( xlsx ) {
                var sheet = xlsx.xl.worksheets['sheet1.xml'];

                $('row c[r^="C"]', sheet).attr( 's', '2' );
            }
        } ]
    }
    );
} );
</script>
<br><br>
<table id="editableTable" class="table" style="width:100%">
        <thead>
        <tr>
            <th>Broker naam:</th>
            <th>Accountmanager:</th>
            <th>Straat broker:</th>
            <th>Huisnummer broker:</th>
            <th>Postcode broker:</th>
            <th>Vestigingplaats broker:</th>
            <th>Telefoonnummer broker:</th>
            <th>Portaal broker:</th>
            <th>Update / Delete</th>
            <th>Detail</th>
        </tr>
        {% for Brokers in brokers_list %}
        <tbody id="myTable">
            <td>{{ Brokers.broker_naam }}</td>
            <td>{{ Brokers.get_accountmanager_display }}</td>
            <td>{{ Brokers.straat_broker }}</td>
            <td>{{ Brokers.huisnummer_broker }}</td>
            <td>{{ Brokers.postcode_broker }}</td>
            <td>{{ Brokers.vestigingplaats_broker }}</td>
            <td>{{ Brokers.telefoonnummer_broker }}</td>
            <td><a href="{{ Brokers.portaal_broker }}" target="_blank">{{Brokers.portaal_broker}}</a></td>
            <form action="{% url 'broker_delete' Brokers.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <td><button type="submit" class="btn btn-danger btn-xs" onclick="return confirm('Weet je zeker dat je de eindklant {{ Brokers.broker_naam }} wilt verijderen?')">
                <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete </button>
            <a href="{% url 'broker_update' Brokers.id %}" class="btn btn-primary btn-sm" role="button">Update</a>
                <input type="hidden" name="medewerker_id" value="{{ Brokers.id }}" />
            <td><a href="{% url 'broker_detail' Brokers.id %}"  class="btn btn-success btn-sm" role="button">View Details</a>
                                <input type="hidden" name="medewerker_id" value="{{ brokers_list.id }}" /></td></form>
            </tbody>

<script>

$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

{% endfor %}
</table>
<br><br><br>
{% endblock %}
<input class="btn btn-primary" type=button value="Terug" onClick="javascript:history.go(-1);">

