{% extends 'base.html' %}
{% block title %} 4-Rest/Eindklanten {% endblock %}
{% block body %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>
{% endblock %}
{% block content %}
<div class="col-sm-6 col-sm-offset-3">
    <h1>Bevestiging medewerker verwijderen</h1>{% for medewerkers in med %}
        <form method="POST" action="."> {% csrf_token %}
            <p>Wil je deze medewerker verwijderen {{ medewerkers.voornaam }}</p>
            <input type="submit" value="Confirm" class="btn btn-warning">
            <a href="{% url "medewerkers" %}" class="btn btn default">Cancel</a>{% endfor %}
        </form>
</div>
{% endblock %}

