{% extends 'base.html' %}
{% block title %}Contracten/datails{% endblock %}

{% block body %}
<html lang="">
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>
</head>

{{ medewerkers }}<a></a>{{ medewerkers.pk}}


<h3> {{ contracten.medewerkers }} </h3>
<br>
<h4>contracten</h4>
<table>
    <tr>
        <th>functie contract</th>
        <th>contract uren</th>
        <th>Start datum</th>
        <th>Eind datum</th>
        <th>Maand salaris</th>
        <th>vakantie dagen</th>
        <th>Onkostenvergoeding</th>
        <th>Delete/ Update</Th>
    </tr>
    <tr>
        <td>{{ contracten.functie_contract }}</td>
        <td>{{ contracten.contract_uren }}</td>
        <td>{{ contracten.Startdatum }}</td>
        <td>{{ contracten.Einddatum }}</td>
        <td>{{ contracten.salaris }}</td>
        <td>{{ contracten.vakantie_dagen }}</td>
        <td>{{ contracten.Onkostenvergoeding }}</td>
 <form action="{% url 'contract_delete' contracten.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <td><button type="submit" class="btn btn-danger btn-xs" onclick="return confirm('Weet je zeker dat je het contract van {{ contracten.medewerkers }} wilt verijderen?')">
                                  <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete </button>
            <a href="{% url 'contract_update' contracten.id %}" class="btn btn-primary btn-sm" role="button">Update</a>
                                <input type="hidden" name="medewerker_id" value="{{ contracten.id }}" /></td></form>
    </tr>
</table>
<br><br><br><br><br>
<h4>Certificaten</h4>
<table>
    <tr>
        <th>Naam certificaat</th>
        <th>Datum afronding</th>
        <th>Accreditatie nummer</th>
        <th>naam_instituut</th>
        <th>Delete</th>
    </tr>
    <tr>
        <td>{{ certificaten.naam_certificaat }}</td>
        <td>{{ certificaten.datum_afronding }}</td>
        <td>{{ certificaten.accreditatie_nummer }}</td>
        <td>{{ certificaten.naam_instituut }}</td>
     <form action="{% url 'contract_delete' contracten.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <td><button type="submit" class="btn btn-danger btn-xs" onclick="return confirm('Weet je zeker dat je het certificaat van {{ certificaten.medewerkers  }} wilt verijderen?')">
                                  <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete </button></td></form>
</table>
<input class="btn btn-primary" type=button value="Terug" onClick="javascript:history.go(-1);">
<br>
<br>
</html>
{% endblock %}