{% extends 'base.html' %}
{% load static %}
{% block title %}Facturatie wijzigingen/details{% endblock %}
{% block body %}

<html lang="">
<head>
<link rel=”stylesheet” type='text/css' href=”{% static 'css/style.css' %}”>
<style>

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#basic-datatable1_wrapper {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#documentToevoegen {
    text-align: center;
}

#documentBeschrijving {
    max-width: 200px;
}

#document {
    text-align: center;
}

#medeName{
    text-align: center;
}

#actieKnoppen {
    max-width: 170px;
}

</style>
{#        <link rel="stylesheet" href=#}
{#"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"#}
{#        integrity=#}
{#"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"#}
{#        crossorigin="anonymous">#}

</head>

<h3 id="medeName"><a> Detail weergave meest recente versie </a></h3>
<br>
<section>
    {#hier haalt die de gegevens op uit de models van de Medewerkers en laat het zien in de tabel#}


    <table>
        <tr>
            <th>Medewerker</th><td>{{ opdracht.aanbieding.medewerker }}</td>
            <th>Klant</th><td>{{ opdracht.aanbieding.klant.naam }}</td></tr>
            <th>Tussenpartij</th><td>{{ opdracht.aanbieding.broker.naam }}</td>
            <th>Startdatum</th><td>{{ opdracht.startdatum }}</td><tr>
            <th>Tarief</th><td>{{ opdracht.tarief_opdracht }}</td>
            <th>Einddatum</th><td>{{ opdracht.einddatum }}</td></tr>
            <th>Betaalkorting</th><td>{{ opdracht.opdracht_betaalkorting }}</td>
            <th>Aantal uren</th><td>{{ opdracht.aantal_uren }}</td><tr>
            <th>Werknemer aantal uren</th><td>{{ opdracht.aanbieding.medewerker.aantal_uur }}</td>
            <th>Klant adres</th><td>{{ hoofdvestiging }}</td></tr>
            <th>Email adres factuur</th><td>{{ factuuremail }}</td>
            <th>Medewerker bv</th><td>{{ opdracht.aanbieding.medewerker.get_bv_display }}</td><tr>

            </tr>
                <td id="actieKnoppen">
                    <a href="{% url 'factuur_history_page' %}" class="btn btn-primary" role="button">Terug</a>
                </td>
            <tr>
        </tr>
    </table>
    <br>
</section>


<br>
<div class="container">




    {#<button class="btnn btn4"><a href="{% url 'editor' medewerkers.id %}" style="color:white">Opmerkingen medewerker : {{ medewerkers.voornaam }}</a></button>#}
</div>
<br>

</body>

</html>

{% endblock %}
