{% extends 'base.html' %}
{% block body %}
<h1>Home pagina 4-Rest</h1>
<h2>CRM/-HRM- Systeem</h2>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<body>

<canvas id="myChart" style="width:100%;max-width:600px"></canvas>
{% comment %}

<script>
var xValues = [ "Leegloop", "Korter dan een maand", "Langer dan een maand"];
var yValues = [5, 10, 25,];
var barColors = [
  "#808080",
  "#FF0000",
  "#7CFC00"
];

new Chart("myChart", {
  type: "doughnut",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "Tijd grafiek Leegloop"
    }
  }
});
</script>
{% endcomment %}

</body>

{% endblock %}