{% extends 'base.html' %}
{% block title %}Lease auto/datails{% endblock %}

{% block body %}
<html lang="">
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>
</head>

{{ medewerkers }}<a></a>{{ medewerkers.pk}}

<h3> {{ leaseautos.medewerkers }} </h3>
<br>


<table>
    <tr>
        <th>Leasemaatschappij</th>
        <th>Merk</th>
        <th>Type auto</th>
        <th>Kenteken</th>
        <th>Kilometer per jaar</th>
        <th>Lease bedrag</th>
        <th>Start datum</th>
        <th>Eind datum</th>
        <th>Delete</th>
    </tr>
    <tr>
        <td>{{ leaseautos.leasemaatschappij }}</td>
        <td>{{ leaseautos.merk_auto }}</td>
        <td>{{ leaseautos.type_auto }}</td>
        <td>{{ leaseautos.kenteken }}</td>
        <td>{{ leaseautos.kilometer_per_jaar }}</td>
        <td>{{ leaseautos.lease_bedrag }}</td>
        <td>{{ leaseautos.start_datum_lease_auto }}</td>
        <td>{{ leaseautos.eind_datum_lease_auto }}</td>
    <form>
        <td>
            <a href="{% url 'lease-auto_delete' leaseautos.pk %}" class="btn btn-danger btn-xm" role="button" style="display: inline;">
                Delete {% csrf_token %}</a>
        </td>
    </form>
    </tr>
</table>
<input class="btn btn-primary" type=button value="Terug" onClick="javascript:history.go(-1);">
</html>

{% endblock %}