{% extends 'base.html' %}
{% block title %}Lopende opdrachten{% endblock %}
{% block body %}
    <div style="text-align: center;" xmlns="http://www.w3.org/1999/html"><h3>Lopende opdrachten 4-Rest</h3></div>
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#startDatum {
    max-width: 90px;
}

#eindDatum {
    max-width: 80px;
}

#tarief {
    max-width: 30px;
}

#deleteUpdate {
    max-width: 105px;
}

#detail {
    max-width: 60px;
}
</style>
{% endblock %}
{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://drvic10k.github.io/bootstrap-sortable/Contents/bootstrap-sortable.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- scripts voor sortable table -->

    <!-- scripts voor pagination -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>

     <!-- scripts voor export -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.22/b-1.6.5/b-html5-1.6.5/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.22/b-1.6.5/b-html5-1.6.5/datatables.min.js"></script>


<script>
$(document).ready(function() {
    $("#basic-datatable").DataTable({
      pageLength: 10,
      lengthChange: false,
      bInfo : false,
      order: [[ 0, "asc" ]],
      dom: 'Bfrtip',
        buttons: [ {
            extend: 'excelHtml5',
            exportOptions: {
                    columns: [ 0, 1, 2, 3, 4, 5, 6 ]
                },
            title: 'Lopende opdrachten' +
                '' +
                ' Export',
            customize: function( xlsx ) {
                var sheet = xlsx.xl.worksheets['sheet1.xml'];

                $('row c[r^="C"]', sheet).attr( 'c', '2' );
            }
        } ]
    });
  });
</script>


<table id="basic-datatable" class="table" style="width:100%">
        <thead>
        <tr>
            <th>Klantnaam</th>
            <th>Medewerker</th>
            <th>Functie aanbieding</th>
            <th id="startDatum">Startdatum</th>
            <th id="eindDatum">Einddatum</th>
            <th id="tarief">Tarief</th>
            <th>Tussenpartij</th>
            <th id="deleteUpdate">Update / Delete</th>
            <th id="detail">Detail</th>
        </tr>

        <tbody id="myTable">
            {% for opdracht in lopendeOpdrachtenList %}
                <tr>
                    <td>{{ opdracht.aanbieding.klant.naam }}</td>
                    <td>{{ opdracht.aanbieding.medewerker }}</td>
                    <td>{{ opdracht.aanbieding.functie_aanbieding }}</td>
                    <td id="startDatum">{{ opdracht.startdatum }}</td>
                    <td id="eindDatum">{{ opdracht.einddatum }}</td>
                    <td id="tarief">{{ opdracht.tarief_opdracht }}</td>
                    <td>{{ opdracht.aanbieding.broker.naam }}</td>


                    {% csrf_token %}
                        <form action="{% url 'delete_opdracht' opdracht.pk %}">
                            <td id="deleteUpdate">
                                <a href="{% url 'update_opdracht' opdracht.id %}" class="btn btn-primary btn-sm" role="button">Update</a>
                                <input type="hidden" name="" value="{{ opdracht.id }}" />
                                <button type="submit" class="no-export btn btn-danger btn-sm" onclick="return confirm('Weet je zeker dat je deze aanbieding wilt verijderen?')">
                                <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete</button>
                            </td>
                            <td id="detail">
                                <a href="{% url 'detail_opdracht' opdracht.id %}"  class="btn btn-success btn-sm" role="button">View Details</a>
                                <input type="hidden" name="" value="{{ opdracht.id }}" />
                            </td>
                        </form>
                </tr>
            {% endfor %}
        </tbody>


<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>


</table>
<br><br><br>
{% endblock %}
<input class="btn btn-primary" type=button value="Terug" onClick="javascript:history.go(-1);">


