{% extends 'base.html' %}
{% load static %}
{% block title %}Medewerkers/details{% endblock %}
{% block body %}

<html lang="">
<head>
<link rel=”stylesheet” type='text/css' href=”{% static 'css/style.css' %}”>
<style>

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#basic-datatable1_wrapper {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#documentToevoegen {
    text-align: center;
}

#documentBeschrijving {
    max-width: 200px;
}

#document {
    text-align: center;
}

#medeName{
    text-align: center;
}

#actieKnoppen {
    max-width: 170px;
}

</style>
{#        <link rel="stylesheet" href=#}
{#"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"#}
{#        integrity=#}
{#"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"#}
{#        crossorigin="anonymous">#}

</head>

<h3 id="medeName">{{ medewerkers }}<a> - </a>{{ medewerkers.pk }}</h3>
<br>
<section>
    {#hier haalt die de gegevens op uit de models van de Medewerkers en laat het zien in de tabel#}
    <table>
        <tr>
            <th>Naam</th><td>{{ medewerkers }}</td>
            <th>Bsn nummer</th><td>{{ medewerkers.bsnnummer }}</td></tr>
            <th>Woonplaats</th><td>{{ medewerkers.woonplaats }}</td>
            <th>Tarief indicatie</th><td>{{ medewerkers.tariefindicatie }}</td><tr>
            <th>Straat en Huisnummer</th><td>{{ medewerkers.straat }} {{ medewerkers.huisnummer }}</td>
            <th>Opleiding niveau</th><td>{{ medewerkers.get_opleidingsniveau_display }}</td></tr>
            <th>Postcode</th> <td>{{ medewerkers.postcode }}</td>
            <th>Mobiel nummer</th><td>{{ medewerkers.telefoonnummer }}</td></tr>
            <th>Burgerlijke staat</th><td>{{ medewerkers.get_burgerlijkse_staat_display }}</td>
            <th>ICE nummer</th><td>{{ medewerkers.icenummer }}</td><tr>
            <th>Geboortedatum</th><td>{{ medewerkers.geboortedatum }}</td>
            <th>Email</th><td>{{ medewerkers.email }}</td><tr>
            <th>Lease auto</th><td>{{ medewerkers.get_lease_auto_display }}</td>
            <th>Status</th><td>{{ medewerkers.get_status_display }}</td><tr></tr>
            <th>BV</th><td>{{ medewerkers.get_bv_display }}</td>
            <th>Inhuur</th><td>{{ medewerkers.get_inhuur_display }}</td><tr>
            <th>Aantal uur</th><td>{{ medewerkers.aantal_uur }}</td>

            </tr>
                <td id="actieKnoppen">
                    <a href="{% url 'medewerker_update' medewerkers.id %}" class="btn btn-primary" role="button">Update</a>
                    <a href="{% url 'medewerkers' %}" class="btn btn-primary" role="button">Terug</a>


                </td>
            <tr>
        </tr>
    </table>
    <br>
</section>

<script>
$(document).ready(function() {
    $("#basic-datatable1").DataTable({
      pageLength: 10,
      lengthChange: false,
      bInfo : false,
      order: [[ 0, "asc" ]],
      dom: 'Bfrtip',
        buttons: [ {
            extend: 'excelHtml5',
            exportOptions: {
                    columns: [ 0, 1, 2, 3]
                },
            title: 'Medewerker aanbiedingen' +
                '' +
                ' Export',
            customize: function( xlsx ) {
                var sheet = xlsx.xl.worksheets['sheet1.xml'];

                $('row c[r^="C"]', sheet).attr( 'c', '2' );
            }
        } ]
    });
  });
</script>

<section id="document">
    <h3 style="text-align: center; margin-top: 1%; margin-bottom: 1%;">Documenten</h3>
    <a href="{% url 'documenten_upload' medewerkers.pk %}"  class="btn btn-primary" style="color:white">Documenten toevoegen</a><br>

    <table id="basic-datatable1" class="table1">
        <thead>
            <tr>
                <th id="naamDocument">Naam document</th>
                <th id="soortDocument">Soort document</th>
                <th id="beschrijving">Beschrijving</th>
                <th id="actieKnoppen">Actie knoppen</th>
            </tr>
        </thead>
        <tbody id="myTable">
            {% for document in documenten_lijst %}
                <tr>
                    <td>{{ document.naam_document }}</td>
                    <td>{{ document.soort_document }}</td>
                    <td id="documentBeschrijving">{{ document.beschrijving }}</td>

                    <form action="{% url 'document_delete' document.pk %}" method="post" style="display: inline;">
                        {% csrf_token %}
                            <td id="deleteUpdate">
                                {% if document.document %}
                                    <a href="{{ document.document.url }}"  class="btn btn-primary btn-sm" role="button">Download</a>
                                {% endif %}
                                <a href="{% url 'documenten_update' document.id %}"  class="btn btn-primary btn-sm" role="button">Update</a>
                                <button type="submit" class="no-export btn btn-danger btn-sm" onclick="return confirm('Weet je zeker dat je dit document wilt verijderen?')">
                                <span class="glyphicon glyphicon-remove"></span>&nbsp Delete </button>
                            </td>
                    </form>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<br>
<div class="container">




    {#<button class="btnn btn4"><a href="{% url 'editor' medewerkers.id %}" style="color:white">Opmerkingen medewerker : {{ medewerkers.voornaam }}</a></button>#}
</div>
<br>

</body>

</html>

{% endblock %}
