{% extends 'base.html' %}
{% load static %}
{% block title %}Medewerkers/details{% endblock %}
{% block body %}

<html lang="">
<head>
<link rel=”stylesheet” type='text/css' href=”{% static 'css/style.css' %}”>
<style>
    body{
        background-color:#CBCBCB;
    }
    #box {
        border-radius: 19px;
        background-color: #f2f2f2;
        margin: auto;
        width: 55%;
        position: relative;
        padding: 20px;
        margin: auto;
    }

    #box #container {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 8px;
        text-align: left;
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    #basic-datatable1_wrapper {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    #documentToevoegen {
        text-align: center;
    }

    #documentBeschrijving {
        max-width: 200px;
    }

    #document {
        text-align: center;
    }

    #medeName{
        text-align: center;
    }

    #actieKnoppen {
        max-width: 170px;
    }

</style>
{#        <link rel="stylesheet" href=#}
{#"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"#}
{#        integrity=#}
{#"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"#}
{#        crossorigin="anonymous">#}

</head>

<div id="box">

    <h3 id="medeName">{{ medewerkers }}<a> - </a>{{ medewerkers.pk }}</h3>
    <br>
    <div id="container">
            {{ medewerkers }}
        {#hier haalt die de gegevens op uit de models van de Medewerkers en laat het zien in de tabel#}
        <table>
            <tr>
                <th>Naam</th>
                <th>Roepnaam</th></tr>
                <th>Functie</th>
                <th>Geboortedatum</th>
                <th>Geboorteplaats</th>
                <th>Nationaliteit</th>
                <th>Straat en Huisnummer</th>
                <th>Postcode</th>
                <th>Woonplaats</th>
                <th>Telefoonnummer</th>
                <th>Bsn nummer</th>
                <th>Banknummer</th>
                <th>Privémail</th>
                <th>Werkmail</th>
                <th>BV</th>
                <th>Burgerlijke staat</th>
                <th>Opleiding niveau</th>
                <th>ICE persoon naam</th>
                <th>ICE telefoonnummer</th>
                <th>Datum in dienst</th>
                <th>Lease auto</th>
                <th>Aantal uur</th>
                <th>Inhuur</th>
                <th>Status</th>
                <th>Tarief indicatie</th>
            </tr>


            <tr>
                <td>{{ medewerkers }}</td>
                <td>{{ medewerkers.roepnaam }}</td>
                <td>{{ medewerkers.functie }}</td>
                <td>{{ medewerkers.geboortedatum }}</td>
                <td>{{ medewerkers.geboorteplaats }}</td>
                <td>{{ medewerkers.nationaliteit }}</td>
                <td>{{ medewerkers.straat }} {{ medewerkers.huisnummer }}</td>
                <td>{{ medewerkers.postcode }}</td>
                <td>{{ medewerkers.woonplaats }}</td>
                <td>{{ medewerkers.telefoonnummer }}</td>
                <td>{{ medewerkers.bsnnummer }}</td>
                <td>{{ medewerkers.banknummer }}</td>
                <td>{{ medewerkers.privémail }}</td>
                <td>{{ medewerkers.werkmail }}</td>
                <td>{{ medewerkers.get_bv_display }}</td>
                <td>{{ medewerkers.get_burgerlijkse_staat_display }}</td>
                <td>{{ medewerkers.get_opleidingsniveau_display }}</td>
                <td>{{ medewerkers.ice_persoon_naam }}</td>
                <td>{{ medewerkers.ice_telefoonnummer }}</td>
                <td>{{ medewerkers.datum_in_dienst }}</td>
                <td>{{ medewerkers.get_lease_auto_display }}</td>
                <td>{{ medewerkers.aantal_uur }}</td>
                <td>{{ medewerkers.get_inhuur_display }}</td>
                <td>{{ medewerkers.get_status_display }}</td>
                <td>{{ medewerkers.tariefindicatie }}</td>


            </tr>

        </table>
    </div>

    <br>
     <td id="actieKnoppen">
         <a href="{% url 'medewerker_update' medewerkers.id %}" class="btn btn-primary" role="button">Update</a>
         <a href="{% url 'medewerkers' %}" class="btn btn-primary" role="button">Terug</a>
     </td>
</div>

<script>
$(document).ready(function() {
    $("#basic-datatable1").DataTable({
      pageLength: 10,
      lengthChange: false,
      bInfo : false,
      order: [[ 0, "asc" ]],
      dom: 'Bfrtip',
        buttons: [ {
            extend: 'excelHtml5',
            exportOptions: {
                    columns: [ 0, 1, 2, 3]
                },
            title: 'Medewerker aanbiedingen' +
                '' +
                ' Export',
            customize: function( xlsx ) {
                var sheet = xlsx.xl.worksheets['sheet1.xml'];

                $('row c[r^="C"]', sheet).attr( 'c', '2' );
            }
        } ]
    });
  });
</script>

<section id="document">
    <h3 style="text-align: center; margin-top: 1%; margin-bottom: 1%;">Documenten</h3>
    <a href="{% url 'documenten_upload' medewerkers.pk %}"  class="btn btn-primary" style="color:white">Documenten toevoegen</a><br>

    <table id="basic-datatable1" class="table1">
        <thead>
            <tr>
                <th id="naamDocument">Naam document</th>
                <th id="soortDocument">Soort document</th>
                <th id="beschrijving">Beschrijving</th>
                <th id="actieKnoppen">Actie knoppen</th>
            </tr>
        </thead>
        <tbody id="myTable">
            {% for document in documenten_lijst %}
                <tr>
                    <td>{{ document.naam_document }}</td>
                    <td>{{ document.soort_document }}</td>
                    <td id="documentBeschrijving">{{ document.beschrijving }}</td>

                    <form action="{% url 'document_delete' document.pk %}" method="post" style="display: inline;">
                        {% csrf_token %}
                            <td id="deleteUpdate">
                                {% if document.document %}
                                    <a href="{{ document.document.url }}"  class="btn btn-primary btn-sm" role="button">Download</a>
                                {% endif %}
                                <a href="{% url 'documenten_update' document.id %}"  class="btn btn-primary btn-sm" role="button">Update</a>
                                <button type="submit" class="no-export btn btn-danger btn-sm" onclick="return confirm('Weet je zeker dat je dit document wilt verijderen?')">
                                <span class="glyphicon glyphicon-remove"></span>&nbsp Delete </button>
                            </td>
                    </form>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<br>
<div class="container">




    {#<button class="btnn btn4"><a href="{% url 'editor' medewerkers.id %}" style="color:white">Opmerkingen medewerker : {{ medewerkers.voornaam }}</a></button>#}
</div>
<br>

</body>

</html>

{% endblock %}
