<!-- laad het pad naar de static file -->
{% extends 'base.html' %}
{% block title %}4-Rest/Medewerkers{% endblock %}
{% block body %}
{% if medewerkers %}
<style>
    #medewerkers{
        margin-top: 30px;
    }
    #medeToevoegen{
        text-align: center;
    }
    #medeFoto{
        max-width: 200px;
        max-height: 200px;
        min-height: 200px;
        margin: 0 auto;
    }
</style>

<div class="albums-container container-fluid">

    <div class="row">
        <div class="col-sm-12">
           <div id="medeToevoegen"><h3>Medewerkers 4-rest</h3><a href="{% url 'medewerker_toevoegen' %}" class="btn btn-success"  role="button"><h5>Medewerker Toevoegen</h5></a></div>
        </div>

            {% for medewerkers in medewerkers %}
            <div id="medewerkers" class="col-sm-4 col-lg-2">

                <div class="thumbnail">
                        <a href="{% url 'details' medewerkers.pk %}">
                        <img id="medeFoto" src="{{ medewerkers.foto_medewerker.url }}" alt="foto_medewerker"/>
                        </a>
                        <div class="caption">
                            <h2>{{ medewerkers.voornaam}}</h2>
                            <h4>{{ medewerkers.tussenvoegsel }} {{ medewerkers.achternaam }}</h4>
                            <!-- View Details -->

                            {% csrf_token %}
                            <div class="left"><a href="{% url 'medewerker_update' medewerkers.id %}" id="1" class="btn btn-success btn-sm" role="button">Update</a></div>

                            <div class="right"><a href="{% url 'details' medewerkers.pk %}"  class="btn btn-success btn-sm" role="button">Details</a></div>
                            <div class="btn1"><a href="{% url 'medewerker_delete' medewerkers.pk %}" class="btn btn-danger btn-xs" role="button" style="display: inline;">Delete</a></div><br>
                        </div>
                </div>
            </div>
    {% endfor %}
    </div>
</div>

{% else %}
    {% comment %}<h3>Deze medewerker is verwijderd.</h3>
    <div style="text-align: center;"><a href="{% url 'medewerkers' %}" class="btn btn-success"  role="button"><h5>Terug naar medewerkers</h5></a></div>{% endcomment %}
{% endif %}
{% endblock %}

