{% extends 'base.html' %}
{% block title %}Medewerkers toevoegen {% endblock %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block body %}

    <style>
    body{
        background-color:#CBCBCB;
    }

    #box {
        border-radius: 19px;
        background-color: #f2f2f2;
        margin: auto;
        width: 55%;
        position: relative;
        padding: 20px;
        margin: auto;
    }

    #box #container {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 8px;
        text-align: left;
    }

    @media(min-width: 1600px){
        #box {
            -webkit-transition: width 2s ease-in-out;
            -moz-transition: width 2s ease-in-out;
            -o-transition: width 2s ease-in-out;
            transition: width 2s ease-in-out;
            width: 45%;
        }
        #box #container {
            grid-template-columns: repeat(4, minmax(0, 1fr));

        }
    }

    @media(min-width: 1200px) and (max-width: 1600px){
        #box {
            -webkit-transition: width 2s ease-in-out;
            -moz-transition: width 2s ease-in-out;
            -o-transition: width 2s ease-in-out;
            transition: width 2s ease-in-out;
            width: 55%;
        }
        #box #container {
            grid-template-columns: repeat(4, minmax(0, 1fr));

        }
    }@media(min-width: 1100px) and (max-width: 1200px) {
        #box {
            -webkit-transition: width 2s ease-in-out;
            -moz-transition: width 2s ease-in-out;
            -o-transition: width 2s ease-in-out;
            transition: width 2s ease-in-out;
            width: 65%;
        }
        #box #container {
            grid-template-columns: repeat(4, minmax(0, 1fr));

        }
    }

    @media(min-width:700px) and (max-width: 1100px) {
        #box {
            -webkit-transition: width 2s ease-in-out;
            -moz-transition: width 2s ease-in-out;
            -o-transition: width 2s ease-in-out;
            transition: width 2s ease-in-out;
            width: 80%;
        }
        #box #container {
            grid-template-columns: repeat(4, minmax(0, 1fr));

        }
    }

    @media(max-width: 700px) and (min-width: 530px){
        #box {
            -webkit-transition: width 2s ease-in-out;
            -moz-transition: width 2s ease-in-out;
            -o-transition: width 2s ease-in-out;
            transition: width 2s ease-in-out;
            width: 85%;
        }
        #box #container {
            grid-template-columns: repeat(4, minmax(0, 1fr));

        }
    }

    @media(max-width:630px) {
        #box {
            -webkit-transition: width 2s ease-in-out;
            -moz-transition: width 2s ease-in-out;
            -o-transition: width 2s ease-in-out;
            transition: width 2s ease-in-out;
            width: 92%;
        }
        #box #container {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    #div_id_accountmanager select{
        padding: 7px;
        border: 1px solid #ccc;
        border-radius: 100px;
        resize: vertical;
        width: 100%;
        display: inline;
        border-color: #04AA6D;
        margin: auto;
    }

     select, input[type=date], input[type=text], input[type=url], input[type=email], input[type=number], input[type=betaalkorting]{
         padding: 7px;
         border: 1px solid #ccc;
         border-radius: 100px;
         resize: vertical;
         width: 100%;
         max-height: 32px;
         max-height: 30px;
         display: block;
         border-color: #3CB64A;
         resize: none;
         align-self: center;
    }


    input[class=btn], a[class=btn] {
        background-color: #3CB64A;
        padding: 12px 20px;
        color: white;
        border: none;
        border-radius: 16px;
        cursor: pointer;
        margin: auto;
    }
    input[class=btn]:hover, a[class=btn]:hover {
        background-color: #45a049;
    }

    select[name=medewerker], select[name=bv], select[name=lease_auto], select[name=burgerlijkse_staat], select[name=inhuur], select[name=opleidingsniveau], select[name=status], select[name=aangemaakt_door],select[name=broker],  select[name=klant]{
        padding: 7px;
        border: 1px solid #ccc;
        border-radius: 100px;
        resize: vertical;
        width: 100%;
        border-color: #3CB64A;
        margin: auto;
        align-self: center;
    }

    label{
        align-self: center;
    }

    </style>

    <form method="POST" ALIGN='center' action="" enctype="multipart/form-data">
        <div id="box">
            <div style="margin-top:-2%; margin-bottom: 2%"><h3> Medewerker update </h3></div>
            <div id="container">
                {% csrf_token %}
                {{ form|capfirst }}
            </div>
            <div style="margin-top: 2%">
                <a href="{% url 'details' medewerker.pk  %}" class="btn" role="button">Annuleer</a>
                <input class="btn" type="submit" value="Update" name="medewerker-update">
            </div>

        </div>
    </form>

{% endblock %}
